In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.253192  0.336767 -0.344526  1.632057
2013-01-02 -1.917438  1.010548 -0.524043  0.531460
2013-01-03 -0.161310  0.408844  1.596556 -0.588161
2013-01-04 -1.215632 -0.444588 -0.565106  1.461406
2013-01-05  0.667230  0.413307  0.717305  0.926584
2013-01-06  0.665260  1.409767 -0.338998 -0.409506

In [5]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(['test', 'train', 'test', 'train']),
                    'F' : 'foo' 
                   })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -0.253192  0.336767 -0.344526  1.632057
2013-01-02 -1.917438  1.010548 -0.524043  0.531460
2013-01-03 -0.161310  0.408844  1.596556 -0.588161
2013-01-04 -1.215632 -0.444588 -0.565106  1.461406
2013-01-05  0.667230  0.413307  0.717305  0.926584

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.215632 -0.444588 -0.565106  1.461406
2013-01-05  0.667230  0.413307  0.717305  0.926584
2013-01-06  0.665260  1.409767 -0.338998 -0.409506

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.25319193,  0.33676712, -0.34452595,  1.63205738],
       [-1.9174377 ,  1.0105477 , -0.52404334,  0.53145952],
       [-0.16130977,  0.40884427,  1.5965561 , -0.58816069],
       [-1.21563167, -0.44458814, -0.56510591,  1.46140586],
       [ 0.66723042,  0.41330725,  0.717305  ,  0.92658386],
       [ 0.66525977,  1.40976708, -0.33899804, -0.40950622]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.369180  0.522441  0.090198  0.592307
std    1.030966  0.635615  0.876617  0.932630
min   -1.917438 -0.444588 -0.565106 -0.588161
25%   -0.975022  0.354786 -0.479164 -0.174265
50%   -0.207251  0.411076 -0.341762  0.729022
75%    0.458617  0.861238  0.453229  1.327700
max    0.667230  1.409767  1.596556  1.632057

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.253192   -1.917438   -0.161310   -1.215632    0.667230    0.665260
B    0.336767    1.010548    0.408844   -0.444588    0.413307    1.409767
C   -0.344526   -0.524043    1.596556   -0.565106    0.717305   -0.338998
D    1.632057    0.531460   -0.588161    1.461406    0.926584   -0.409506

In [15]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.632057 -0.344526  0.336767 -0.253192
2013-01-02  0.531460 -0.524043  1.010548 -1.917438
2013-01-03 -0.588161  1.596556  0.408844 -0.161310
2013-01-04  1.461406 -0.565106 -0.444588 -1.215632
2013-01-05  0.926584  0.717305  0.413307  0.667230
2013-01-06 -0.409506 -0.338998  1.409767  0.665260

In [19]:
df['A']

2013-01-01   -0.253192
2013-01-02   -1.917438
2013-01-03   -0.161310
2013-01-04   -1.215632
2013-01-05    0.667230
2013-01-06    0.665260
Freq: D, Name: A, dtype: float64

In [20]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.253192  0.336767 -0.344526  1.632057
2013-01-02 -1.917438  1.010548 -0.524043  0.531460
2013-01-03 -0.161310  0.408844  1.596556 -0.588161

In [21]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.917438  1.010548 -0.524043  0.531460
2013-01-03 -0.161310  0.408844  1.596556 -0.588161
2013-01-04 -1.215632 -0.444588 -0.565106  1.461406

In [22]:
df.loc[dates[0]]

A   -0.253192
B    0.336767
C   -0.344526
D    1.632057
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01 -0.253192  0.336767
2013-01-02 -1.917438  1.010548
2013-01-03 -0.161310  0.408844
2013-01-04 -1.215632 -0.444588
2013-01-05  0.667230  0.413307
2013-01-06  0.665260  1.409767

In [25]:
df.loc[dates[0], 'A']

-0.25319193426112857

In [26]:
df.at[dates[0], 'A']

-0.25319193426112857

In [27]:
df.iloc[3]

A   -1.215632
B   -0.444588
C   -0.565106
D    1.461406
Name: 2013-01-04 00:00:00, dtype: float64

In [28]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.215632 -0.444588
2013-01-05  0.667230  0.413307

In [29]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -1.917438 -0.524043
2013-01-03 -0.161310  1.596556
2013-01-05  0.667230  0.717305

In [30]:
df.iloc[1, 1]

1.0105476994514515

In [31]:
df.iat[1, 1]

1.0105476994514515

In [32]:
df[df.A > 0]

                  A         B         C         D
2013-01-05  0.66723  0.413307  0.717305  0.926584
2013-01-06  0.66526  1.409767 -0.338998 -0.409506

In [33]:
df[df > 0]

                  A         B         C         D
2013-01-01      NaN  0.336767       NaN  1.632057
2013-01-02      NaN  1.010548       NaN  0.531460
2013-01-03      NaN  0.408844  1.596556       NaN
2013-01-04      NaN       NaN       NaN  1.461406
2013-01-05  0.66723  0.413307  0.717305  0.926584
2013-01-06  0.66526  1.409767       NaN       NaN

In [36]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2013-01-01 -0.253192  0.336767 -0.344526  1.632057    one
2013-01-02 -1.917438  1.010548 -0.524043  0.531460    one
2013-01-03 -0.161310  0.408844  1.596556 -0.588161    two
2013-01-04 -1.215632 -0.444588 -0.565106  1.461406  three
2013-01-05  0.667230  0.413307  0.717305  0.926584   four
2013-01-06  0.665260  1.409767 -0.338998 -0.409506  three

In [37]:
df2[df2['E'].isin(['two', 'four'])]

                  A         B         C         D     E
2013-01-03 -0.16131  0.408844  1.596556 -0.588161   two
2013-01-05  0.66723  0.413307  0.717305  0.926584  four

In [41]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [47]:
df['F'] = s1
df.at[dates[0], 'A'] = 0
df.iat[0, 1] = 0
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.344526  5  NaN
2013-01-02 -1.917438  1.010548 -0.524043  5  1.0
2013-01-03 -0.161310  0.408844  1.596556  5  2.0
2013-01-04 -1.215632 -0.444588 -0.565106  5  3.0
2013-01-05  0.667230  0.413307  0.717305  5  4.0
2013-01-06  0.665260  1.409767 -0.338998  5  5.0

In [48]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.344526 -5  NaN
2013-01-02 -1.917438 -1.010548 -0.524043 -5 -1.0
2013-01-03 -0.161310 -0.408844 -1.596556 -5 -2.0
2013-01-04 -1.215632 -0.444588 -0.565106 -5 -3.0
2013-01-05 -0.667230 -0.413307 -0.717305 -5 -4.0
2013-01-06 -0.665260 -1.409767 -0.338998 -5 -5.0

In [50]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.344526  5  NaN  1.0
2013-01-02 -1.917438  1.010548 -0.524043  5  1.0  1.0
2013-01-03 -0.161310  0.408844  1.596556  5  2.0  NaN
2013-01-04 -1.215632 -0.444588 -0.565106  5  3.0  NaN

In [51]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -1.917438  1.010548 -0.524043  5  1.0  1.0

In [52]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.344526  5  5.0  1.0
2013-01-02 -1.917438  1.010548 -0.524043  5  1.0  1.0
2013-01-03 -0.161310  0.408844  1.596556  5  2.0  5.0
2013-01-04 -1.215632 -0.444588 -0.565106  5  3.0  5.0

In [53]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

# ()

In [55]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.344526  5  NaN
2013-01-02 -1.917438  1.010548 -0.524043  5  1.0
2013-01-03 -0.161310  0.408844  1.596556  5  2.0
2013-01-04 -1.215632 -0.444588 -0.565106  5  3.0
2013-01-05  0.667230  0.413307  0.717305  5  4.0
2013-01-06  0.665260  1.409767 -0.338998  5  5.0

In [54]:
df.mean()

A   -0.326981
B    0.466313
C    0.090198
D    5.000000
F    3.000000
dtype: float64

In [56]:
df.mean(1)

2013-01-01    1.163869
2013-01-02    0.913813
2013-01-03    1.768818
2013-01-04    1.154935
2013-01-05    2.159569
2013-01-06    2.347206
Freq: D, dtype: float64

In [57]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [58]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.161310 -0.591156  0.596556  4.0  1.0
2013-01-04 -4.215632 -3.444588 -3.565106  2.0  0.0
2013-01-05 -4.332770 -4.586693 -4.282695  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [59]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -0.344526   5   NaN
2013-01-02 -1.917438  1.010548 -0.868569  10   1.0
2013-01-03 -2.078747  1.419392  0.727987  15   3.0
2013-01-04 -3.294379  0.974804  0.162881  20   6.0
2013-01-05 -2.627149  1.388111  0.880186  25  10.0
2013-01-06 -1.961889  2.797878  0.541188  30  15.0

In [60]:
df.apply(lambda x: x.max() -x.min())

A    2.584668
B    1.854355
C    2.161662
D    0.000000
F    4.000000
dtype: float64

In [61]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    4
2    2
3    4
4    3
5    1
6    2
7    4
8    1
9    0
dtype: int64

In [66]:
s.value_counts()

4    3
2    2
1    2
6    1
3    1
0    1
dtype: int64

In [67]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [68]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.424793  0.287690 -0.782443  0.977806
1  0.722170  0.728828 -0.482139  0.274797
2  0.173310 -0.225553 -0.729328  3.140951
3  1.902321 -0.520196 -0.430466 -0.618378
4  0.804690  0.662111  0.508419  0.682660
5 -0.486881 -0.294770  0.852034  0.746677
6  0.224030 -1.700646  0.384450  0.859665
7 -0.788270 -1.920591 -2.019518 -1.079090
8  1.202149  2.028177  0.118825 -0.611458
9  0.671907 -1.025868  0.938836 -0.752839

In [69]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.424793  0.287690 -0.782443  0.977806
1  0.722170  0.728828 -0.482139  0.274797
2  0.173310 -0.225553 -0.729328  3.140951
3  1.902321 -0.520196 -0.430466 -0.618378
4  0.804690  0.662111  0.508419  0.682660
5 -0.486881 -0.294770  0.852034  0.746677
6  0.224030 -1.700646  0.384450  0.859665
7 -0.788270 -1.920591 -2.019518 -1.079090
8  1.202149  2.028177  0.118825 -0.611458
9  0.671907 -1.025868  0.938836 -0.752839

In [70]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [4, 5]})

In [71]:
left

   key  lval
0  foo     1
1  foo     2

In [72]:
right

   key  lval
0  foo     4
1  foo     5

In [73]:
pd.merge(left, right, on='key')

   key  lval_x  lval_y
0  foo       1       4
1  foo       1       5
2  foo       2       4
3  foo       2       5

In [74]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.119601  0.366739  0.097301  1.444148
1  0.039576 -0.644820 -1.081948  0.985601
2 -1.455963  0.254017  0.645178 -0.839419
3  0.190508  1.295388  0.171860 -0.309461
4 -0.800867  1.419327  0.798924  0.640834
5  0.930324  0.427597 -1.101573 -0.534165
6  1.022200 -0.190328  1.355074  0.197339
7 -0.216576  0.454335 -0.425840 -0.436705

In [75]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.119601  0.366739  0.097301  1.444148
1  0.039576 -0.644820 -1.081948  0.985601
2 -1.455963  0.254017  0.645178 -0.839419
3  0.190508  1.295388  0.171860 -0.309461
4 -0.800867  1.419327  0.798924  0.640834
5  0.930324  0.427597 -1.101573 -0.534165
6  1.022200 -0.190328  1.355074  0.197339
7 -0.216576  0.454335 -0.425840 -0.436705
8  0.190508  1.295388  0.171860 -0.309461

In [76]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)
                  })
df

     A      B         C         D
0  foo    one -0.535183 -0.085460
1  bar    one  0.819256 -0.902414
2  foo    two -1.453541  0.133451
3  bar  three -0.526851  0.773508
4  foo    two  0.356455  0.218215
5  bar    two -1.865788 -0.286563
6  foo    one  0.816162 -0.307018
7  bar  three  0.910554 -0.239847

In [77]:
df.groupby('A').sum()

            C         D
A
bar -0.662829 -0.655316
foo -0.816108 -0.040812

In [78]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one    0.819256 -0.902414
    three  0.383703  0.533661
    two   -1.865788 -0.286563
foo one    0.280978 -0.392477
    two   -1.097086  0.351666

In [80]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)
                  })
df

        A  B    C         D         E
0     one  A  foo  1.202664 -0.251591
1     one  B  foo  0.712859  1.157404
2     two  C  foo  0.574956 -0.381705
3   three  A  bar  0.175422  1.185586
4     one  B  bar -0.301486  1.106258
5     one  C  bar -0.743024  0.826847
6     two  A  foo -2.301642 -0.040919
7   three  B  foo -0.469723 -0.697790
8     one  C  foo -2.012332  0.800066
9     one  A  bar  0.018784 -0.867385
10    two  B  bar -0.496652  0.433144
11  three  C  bar  1.011224 -0.020236

In [81]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.018784  1.202664
      B -0.301486  0.712859
      C -0.743024 -2.012332
three A  0.175422       NaN
      B       NaN -0.469723
      C  1.011224       NaN
two   A       NaN -2.301642
      B -0.496652       NaN
      C       NaN  0.574956

#

In [85]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

2012-01-01    24474
Freq: 5T, dtype: int64

In [86]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2012-03-06    0.906650
2012-03-07    0.080050
2012-03-08   -0.754836
2012-03-09    1.484820
2012-03-10   -0.809845
Freq: D, dtype: float64

In [87]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-06 00:00:00+00:00    0.906650
2012-03-07 00:00:00+00:00    0.080050
2012-03-08 00:00:00+00:00   -0.754836
2012-03-09 00:00:00+00:00    1.484820
2012-03-10 00:00:00+00:00   -0.809845
Freq: D, dtype: float64

In [88]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.906650
2012-03-06 19:00:00-05:00    0.080050
2012-03-07 19:00:00-05:00   -0.754836
2012-03-08 19:00:00-05:00    1.484820
2012-03-09 19:00:00-05:00   -0.809845
Freq: D, dtype: float64

In [89]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31    1.099246
2012-02-29   -0.917740
2012-03-31   -0.153001
2012-04-30    0.322496
2012-05-31   -1.214210
Freq: M, dtype: float64

In [90]:
ps = ts.to_period()
ps

2012-01    1.099246
2012-02   -0.917740
2012-03   -0.153001
2012-04    0.322496
2012-05   -1.214210
Freq: M, dtype: float64

In [91]:
ps.to_timestamp()

2012-01-01    1.099246
2012-02-01   -0.917740
2012-03-01   -0.153001
2012-04-01    0.322496
2012-05-01   -1.214210
Freq: MS, dtype: float64

In [92]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') +9
ts.head()

1990-03-01 09:00   -1.037476
1990-06-01 09:00    0.258675
1990-09-01 09:00    0.368688
1990-12-01 09:00   -0.103862
1991-03-01 09:00    2.410022
Freq: H, dtype: float64

#

In [94]:
df = pd.DataFrame({'id' : [1, 2, 3, 4, 5, 6], 'raw_grade' : ['a', 'b', 'b', 'a', 'a', 'e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [101]:
df['grade'] = df['raw_grade'].astype('category')
df['grade']

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [102]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [103]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [104]:
df['grade'] = df['grade'].cat.set_categories(['very bad', 'bad', 'medium', 'good', 'very good'])
df['grade']

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [105]:
df.sort_values('grade')

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [106]:
df.groupby('grade').size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

#

In [2]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()
plt.show()

In [6]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index, columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')
plt.show()

# I/O

In [9]:
df.to_csv('foo.csv')

In [10]:
pd.read_csv('foo.csv')

     Unnamed: 0          A         B          C          D
0    2000-01-01  -1.623629 -0.879502   0.063585  -0.140951
1    2000-01-02  -0.867698 -1.059559   2.275921  -0.748543
2    2000-01-03   0.258151  0.376348   1.078156  -0.455451
3    2000-01-04   0.780587  0.366950   1.040389   0.258315
4    2000-01-05   1.090330 -0.450843   0.499533   0.511777
5    2000-01-06   1.300226 -1.045351   1.030346  -0.910923
6    2000-01-07   1.821508 -2.109033   1.215532   0.062596
7    2000-01-08   0.723305 -1.454431   1.601059   1.142959
8    2000-01-09   1.584214 -1.101360   2.984352  -0.087717
9    2000-01-10   1.997934 -0.624064   1.136822  -0.316226
10   2000-01-11   2.464024 -0.324869   1.235960  -0.615568
11   2000-01-12   1.762373  0.935359   2.528106  -1.466176
12   2000-01-13   1.206187  0.096424   2.466307  -2.018030
13   2000-01-14   2.270714  1.244050   2.114322  -0.693565
14   2000-01-15   2.285267  1.508173   1.155284  -1.546704
15   2000-01-16   3.136744  0.323729   3.310442  -0.189535
16   2000-01-17   2.577935  0.730935   3.421724  -0.739253
17   2000-01-18   3.128464  0.504433   1.687140  -1.274874
18   2000-01-19   3.276728 -0.014603   0.313198  -2.449037
19   2000-01-20   4.350404  1.403040  -0.267495  -3.795346
20   2000-01-21   4.406054  1.559208   0.733010  -3.425253
21   2000-01-22   4.891972  1.855389   0.920636  -2.529152
22   2000-01-23   6.382965  2.385123   1.975531  -2.284615
23   2000-01-24   5.870646  3.242570   1.424382  -3.982530
24   2000-01-25   4.870075  2.712623   2.183867  -4.184478
25   2000-01-26   5.639928  4.332835   1.315091  -5.177791
26   2000-01-27   4.186007  3.601698   2.008788  -5.321376
27   2000-01-28   4.586539  3.939155   2.785314  -4.621151
28   2000-01-29   4.038742  2.504980   2.061961  -3.637398
29   2000-01-30   4.889149  3.400180   1.598440  -3.613845
..          ...        ...       ...        ...        ...
970  2002-08-28 -39.240579  1.423756 -28.625621 -12.600917
971  2002-08-29 -38.144459  2.147556 -28.753012 -11.981658
972  2002-08-30 -38.967767  1.906785 -28.676376 -11.062326
973  2002-08-31 -37.208504  2.166180 -25.223998 -11.518228
974  2002-09-01 -36.102075  1.936492 -26.811633 -10.555201
975  2002-09-02 -36.902383  1.681023 -27.470691  -9.856965
976  2002-09-03 -37.569671  1.620563 -28.021378 -11.247639
977  2002-09-04 -36.507713  1.948282 -28.570555 -10.469722
978  2002-09-05 -36.628388  0.663327 -29.189567 -11.379816
979  2002-09-06 -36.258777  0.470455 -29.192213 -10.425045
980  2002-09-07 -36.644647 -0.916020 -29.365058  -9.622349
981  2002-09-08 -35.936888 -1.712119 -29.204883  -8.093024
982  2002-09-09 -34.799928 -0.944900 -28.623817  -7.027768
983  2002-09-10 -33.655555  0.125370 -28.218810  -6.570892
984  2002-09-11 -31.540470 -0.027397 -28.134285  -6.015826
985  2002-09-12 -32.421147 -0.946796 -28.204413  -5.437238
986  2002-09-13 -34.515255 -1.992979 -28.838867  -5.324121
987  2002-09-14 -33.676996 -1.646270 -29.192282  -5.505497
988  2002-09-15 -33.918544 -1.349001 -30.116912  -3.097348
989  2002-09-16 -34.454603 -0.797692 -27.771260  -3.844329
990  2002-09-17 -34.388859 -0.520848 -26.510626  -3.979649
991  2002-09-18 -35.141181 -0.612524 -27.352756  -4.062407
992  2002-09-19 -34.361332 -2.329821 -26.682911  -4.956067
993  2002-09-20 -35.524558 -2.317325 -25.898883  -3.881458
994  2002-09-21 -35.840439 -1.984910 -24.973016  -4.622227
995  2002-09-22 -36.029674 -3.479606 -25.798023  -4.628953
996  2002-09-23 -35.108588 -3.961301 -26.275178  -4.602160
997  2002-09-24 -34.805601 -4.076762 -27.813234  -4.091868
998  2002-09-25 -34.422636 -5.448740 -27.351943  -4.167586
999  2002-09-26 -34.301673 -4.931151 -27.727163  -3.829965

[1000 rows x 5 columns]

In [11]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [12]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                    A         B          C          D
2000-01-01  -1.623629 -0.879502   0.063585  -0.140951
2000-01-02  -0.867698 -1.059559   2.275921  -0.748543
2000-01-03   0.258151  0.376348   1.078156  -0.455451
2000-01-04   0.780587  0.366950   1.040389   0.258315
2000-01-05   1.090330 -0.450843   0.499533   0.511777
2000-01-06   1.300226 -1.045351   1.030346  -0.910923
2000-01-07   1.821508 -2.109033   1.215532   0.062596
2000-01-08   0.723305 -1.454431   1.601059   1.142959
2000-01-09   1.584214 -1.101360   2.984352  -0.087717
2000-01-10   1.997934 -0.624064   1.136822  -0.316226
2000-01-11   2.464024 -0.324869   1.235960  -0.615568
2000-01-12   1.762373  0.935359   2.528106  -1.466176
2000-01-13   1.206187  0.096424   2.466307  -2.018030
2000-01-14   2.270714  1.244050   2.114322  -0.693565
2000-01-15   2.285267  1.508173   1.155284  -1.546704
2000-01-16   3.136744  0.323729   3.310442  -0.189535
2000-01-17   2.577935  0.730935   3.421724  -0.739253
2000-01-18   3.128464  0.504433   1.687140  -1.274874
2000-01-19   3.276728 -0.014603   0.313198  -2.449037
2000-01-20   4.350404  1.403040  -0.267495  -3.795346
2000-01-21   4.406054  1.559208   0.733010  -3.425253
2000-01-22   4.891972  1.855389   0.920636  -2.529152
2000-01-23   6.382965  2.385123   1.975531  -2.284615
2000-01-24   5.870646  3.242570   1.424382  -3.982530
2000-01-25   4.870075  2.712623   2.183867  -4.184478
2000-01-26   5.639928  4.332835   1.315091  -5.177791
2000-01-27   4.186007  3.601698   2.008788  -5.321376
2000-01-28   4.586539  3.939155   2.785314  -4.621151
2000-01-29   4.038742  2.504980   2.061961  -3.637398
2000-01-30   4.889149  3.400180   1.598440  -3.613845
...               ...       ...        ...        ...
2002-08-28 -39.240579  1.423756 -28.625621 -12.600917
2002-08-29 -38.144459  2.147556 -28.753012 -11.981658
2002-08-30 -38.967767  1.906785 -28.676376 -11.062326
2002-08-31 -37.208504  2.166180 -25.223998 -11.518228
2002-09-01 -36.102075  1.936492 -26.811633 -10.555201
2002-09-02 -36.902383  1.681023 -27.470691  -9.856965
2002-09-03 -37.569671  1.620563 -28.021378 -11.247639
2002-09-04 -36.507713  1.948282 -28.570555 -10.469722
2002-09-05 -36.628388  0.663327 -29.189567 -11.379816
2002-09-06 -36.258777  0.470455 -29.192213 -10.425045
2002-09-07 -36.644647 -0.916020 -29.365058  -9.622349
2002-09-08 -35.936888 -1.712119 -29.204883  -8.093024
2002-09-09 -34.799928 -0.944900 -28.623817  -7.027768
2002-09-10 -33.655555  0.125370 -28.218810  -6.570892
2002-09-11 -31.540470 -0.027397 -28.134285  -6.015826
2002-09-12 -32.421147 -0.946796 -28.204413  -5.437238
2002-09-13 -34.515255 -1.992979 -28.838867  -5.324121
2002-09-14 -33.676996 -1.646270 -29.192282  -5.505497
2002-09-15 -33.918544 -1.349001 -30.116912  -3.097348
2002-09-16 -34.454603 -0.797692 -27.771260  -3.844329
2002-09-17 -34.388859 -0.520848 -26.510626  -3.979649
2002-09-18 -35.141181 -0.612524 -27.352756  -4.062407
2002-09-19 -34.361332 -2.329821 -26.682911  -4.956067
2002-09-20 -35.524558 -2.317325 -25.898883  -3.881458
2002-09-21 -35.840439 -1.984910 -24.973016  -4.622227
2002-09-22 -36.029674 -3.479606 -25.798023  -4.628953
2002-09-23 -35.108588 -3.961301 -26.275178  -4.602160
2002-09-24 -34.805601 -4.076762 -27.813234  -4.091868
2002-09-25 -34.422636 -5.448740 -27.351943  -4.167586
2002-09-26 -34.301673 -4.931151 -27.727163  -3.829965

[1000 rows x 4 columns]